// ***** Fractal and Gulp Toolkit Tests ***** //

%test-placeholder {
  visibility: visible;
}

@mixin test-mixin {
  z-index: 1;
}

code {
  color: $color-darkred;
}

.test-sass {
  color: $color-green;
}

.test-sass-linter {
  @extend %test-placeholder;
  @include test-mixin;
  cursor: pointer;
  display: block;

  @media print {
    display: block;
  }

  .test-nesting-depth1 {

    &:hover {
      content: '';
    }
  }
}

.test-icon {
  display: inline;
  padding-inline-end: 1.5em;
  background-image: url('check-solid.svg' param(--color #{$color-green}));
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1em;
}

.test-autoprefixer-basic {
  user-select: auto;
}

.test-postcsslogical {
  position: relative;
  inline-size: 80%;
  block-size: 150px;
  border: 1px solid $color-darkred;

  > div {
    position: absolute;
    inset: 10px 40px 60px 30%;
    border: 1px solid $color-green;
  }
}
