// ***** Fractal and Gulp Toolkit Tests ***** //

code {
  color: $color-darkred;
}

.test-sass {
  color: $color-green;
}

.test-sass-lint {
  cursor: pointer;
  display: block;
}

.test-icon {
  display: inline;
  padding-right: 1.5em;
  background-image: url('check-solid.svg' param(--color #{$color-green}));
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1em;
}

.test-autoprefixer-basic {
  user-select: auto;
}

.test-postcsslogical {
  position: relative;
  border: 1px solid $color-darkred;
  inline-size: 80%;
  block-size: 150px;

  > div {
    position: absolute;
    border: 1px solid $color-green;
    inset: 10px 40px 60px 30%;
  }

}
