

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI Kit Test Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <h1>Fractal and Gulp Toolkit Tests</h1>

<input type="text">

<h2>Production Tasks</h2>

<p>Run 'gulp' in your terminal to begin the following tests:</p>

<h3>Verifying Sass Complilation</h3>

<p><span class="test-sass">This text should be green</span> and <code>code</code> red, which confirms the following:</p>

<ul>
  <li>The Sass in _tests.scss is getting compliled to CSS via import from main.scss.</li>
  <li>The Sass variables <code>$color-green</code> and <code>$color-darkred</code> are getting interpreted from the _variables.scss file</li>
</ul>

<h3>Verifying Sass Linter</h3>

<p class="test-sass-linter">In the terminal, there should be the following warning:</p>

<pre>
  <samp>
  scss/_tests.scss
    23:3  ⚠  Expected "display" to come before "cursor"
  </samp>
</pre>

<p>This CSS property sort order warning (intentional for this test) confirms that the <a href="https://stylelint.io/">stylelint</a> linter is working.</p>

<h3>Verifying Modern Normalize CSS Module</h3>

<p>All text on this page should be styled using the system font, according to the <a href="https://github.com/sindresorhus/modern-normalize/issues/3">Modern Normalize system font stack</a>. This confirms that the <a href="https://github.com/postcss/postcss-import">postcss-import</a> plugin is working.</p>

<h3>Verifying Autoprefixer's Basic Prefixing</h3>

<p class="test-autoprefixer-basic">This paragraph is styled with the <code>user-select</code> CSS property, which should create browser prefixes in the CSS. Inspect this paragraph via DevTools and confirm the appearance (usually crossed out) of <code>-webkit-</code> and other browser prefixes.</p> This will confirm that Autoprefixer is working.

<h3>Verifying SVG Injection into CSS</h3>

<p class="test-icon">A green "check" icon as a background image should appear here:</p>

<p>This confirms that the <a href="https://github.com/jonathantneal/postcss-svg">postcss-svg</a> plugin is working.</p>

<h3>Verify PostCSS Logical Plugin</h3>

<p>In the SCSS, the logical properties <code>inline-size</code>, <code>block-size</code>, and <code>inset</code> should be converted to the physical properties <code>width</code>, <code>height</code>, and <code>top</code>, <code>right</code>, <code>bottom</code>, <code>left</code> respectively in the CSS.</p>

<p>There should be a green box inset 10px from the top, 40px from the right, 60px from the bottom, and 30% from the left of a red box 80% wide and 150px high:</p>

<div class="test-postcsslogical">
  <div>Child Box</div>
</div>

<p>This confirms that the <a href="https://github.com/csstools/postcss-logical">postcss-logical</a> plugin is working.</p>

<h3>Verifying Faker Library</h3>

<p><strong>Text generated by Faker should follow here:</strong> Excepturi itaque fugit tenetur. Earum aut ipsum veniam quis voluptas. Doloribus cupiditate accusamus deserunt. Voluptate amet nemo pariatur molestiae est qui nihil quam.</p>

<h3>Verifying JavaScript Functionality</h3>

<p>Is JavaScript is getting copied from /js/ folder to /ui-assets/js folder and loading? (yes or no): <strong class="test-javascript">no</strong></p>

<p>In DevTools, confirm that the <code>body</code> tag has a class of <code>js-working</code>.</p>

<h3>Verifying JavaScript Linter (eslint)</h3>

<p>Open one of the three JS files in /js/ and save it to trigger the JS linting process.</p>

<p>In the terminal, there should be the following three errors:</p>

<pre>
  <samp>
  /[user]/[path to repos]/cdlib-ui-kit/js/testarrowfunction.js
    9:1  error  fetch is not supported in IE 11

  /[user]/[path to repos]/cdlib-ui-kit/js/test-bodytag.js
    5:40  error  Extra semicolon

  /[user]/[path to repos]/cdlib-ui-kit/js/test-selector.js
    3:5  error  'unused' is defined but never used
  </samp>
</pre>

<p>The fetch error confirms that the eslint plugin, eslint-plugin-compat, is working properly.</p>

<p>The semicolon and unused errors confirm that the eslint plugin, eslint-plugin-standard, is working property.</p>

<p>In the file test-selector.js, the two variables <code>ignoreThisLine</code> and <code>ignoreNextLine</code> should be getting ignored by eslint due to the use of eslint ignore directives; they should not be throwing eslint errors.</p>

<h2>Build Tasks</h2>

<p>Run 'gulp build' in your terminal to begin the following tests:</p>

<h3>Verifying File Compilation</h3>

<p>Confirm that /dist/ is created at root. If already created from previous build, confirm that folder's existing build files get deleted before new build files are added. Check that all files in /dist/ contain the same "Date Modified" date/time as when 'gulp build' was run.</p>

<h3>Verifying Error Reporting</h3>

<p>Confirm that the same Sass and JavaScript errors presented from the 'Gulp' task above were also generated in the console for the build task.</p>

<h3>Verifying UI Library Build in Browser</h3>

<p>Open index.html in a browser. Confirm that the CDLIB UI Library's UI and content matches exactly that of the 'Gulp' task.</p>

<h3>Verifying Asset File Minification</h3>

<p>Confirm that /dist/ui-assets/css/main.css is minified without any sourcemaps.</p>

<p>Confirm that /dist/ui-assets/js/main.js is minified without any sourcemaps.</p>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

